@model IEnumerable<ComedyCentral.Models.Comedy>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var comedy in Model)
    {
        <li>@comedy.DateTime - @comedy.Artist.Name</li>
    }
</ul>